# vim: set filetype=yaml.ansible :/
- name: "Awesome: Installing build dependencies"
  become: true
  ansible.builtin.apt:
    name: awesome
    state: build-dep

- name: "Awesome: Installing more build dependencies (libxcb-xfixes0-dev)"
  become: true
  ansible.builtin.apt:
    name:
      - libxcb-xfixes0-dev
      - libxcb-errors-dev

- name: "Awesome: Cloning Awesome"
  ansible.builtin.git:
    repo: "https://github.com/awesomeWM/awesome"
    dest: "{{ bin }}/awesome"
    update: true
    force: true
  register: git_result

- name: "Awesome: Building"
  when: git_result.changed or 'force' in ansible_run_tags
  block:
    - name: "Awesome: Removing old build directory"
      ansible.builtin.file:
        path: "{{ bin }}/awesome/build"
        state: absent

    - name: "Awesome: Building .deb package"
      ansible.builtin.shell: CMAKE_ARGS="-DWITH_XCB_ERRORS=ON -DGENERATE_DOC=OFF -DGENERATE_MANPAGES=OFF" make package
      args:
        chdir: "{{ bin }}/awesome"

    - name: "Awesome: Searching .deb package"
      ansible.builtin.find:
        paths: "{{ bin }}/awesome/build"
        patterns: "*.deb"
      register: deb_packages

    - name: "Awesome: Installing .deb package"
      become: true
      ansible.builtin.apt:
        deb: "{{ deb_packages.files[0].path }}"
      # loop: "{{ deb_packages.files | flatten(levels=1) }}"
      # loop_control:
      #   label: "{{ item.path }}"
